*{
    
}







h2{
 display: table-cell;
 font-size: 3.56rem;
 line-height: 110%;
 margin: 2.3733333333rem 0 1.424rem 0;
}

article{
    position: absolute;
}

.pa{
    position: absolute;
    font-size: 25px;
    width: 220px;
    height: 80px;
    margin: auto;
    margin-left: 300px;
    padding-top: 11rem;
}

.fp{
    position: absolute;
    font-size: 25px;
    width: 220px;
    height: 80px;
    margin: auto;
    margin-left: 800px;
    padding-top: 11rem;

}

.pf{
    position: absolute;
    font-size: 25px;
    width: 220px;
    height: 80px;
    margin: auto;
    margin-left: 1300px;
    padding-top: 11rem;
}

